html,body {
    font-family: helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
    background:'black';
    max-width:100%;
    max-height:100%;
    overflow:hidden;
}
#loading {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
}
#loading div{
    height: 20px;
    text-align: center;
    top: 50%;
    width: 100%;
    position: absolute;
    margin: -10px 0 0 0;
    font-weight:bold;
    color: white;
    font-size: 2em;
}
#toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #666666;
}
#toolbar div {
    float: left;
    margin: 5px;
    width: 40px;
    height: 40px;
    background: blue;
    border: 2px solid #666666;
}
#toolbar div.active {
    border-color: white;
}